@model IEnumerable<TaskList.MVC.ViewModels.TaskViewModel>

@{
    ViewBag.Title = "Excluidas";
}

<h2>Tasks Excluidas</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Concluida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtEdicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtExclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtConclusao)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Concluida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtEdicao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtExclusao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtConclusao)
                </td>
                <td>
                    <button type="button" class="btn btn-xs btn-info" onclick="location.href = '@Url.Action("Details", "Tasks", new {id = item.TaskId})'">
                        <i class="glyphicon glyphicon-book"></i>
                        Detalhes
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script language="javascript" type="text/javascript">
        var Tabela;

        $(document)
            .ready(function () {
                Tabela = $('.table')
                    .DataTable({
                        "language": {
                            "url": '//cdn.datatables.net/plug-ins/1.10.12/i18n/Portuguese-Brasil.json'
                        },
                        "lengthChange": false,
                        "searching": true,
                        "info": false,
                        "paging": false,
                        "aoColumnDefs": [{
                            "bSortable": false,
                            "aTargets": [6]
                        }]
                    });
            });

    </script>
}
